<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>409398773491-gqv9e3a9u5ha4eqk5njrdpitoce19guj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.409398773491-gqv9e3a9u5ha4eqk5njrdpitoce19guj</string>
	<key>API_KEY</key>
	<string>AIzaSyCmKsn8VONkX7BUBiHtj_oOG7eJRsjlxFk</string>
	<key>GCM_SENDER_ID</key>
	<string>409398773491</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatApp</string>
	<key>PROJECT_ID</key>
	<string>chatapp-35c9b</string>
	<key>STORAGE_BUCKET</key>
	<string>chatapp-35c9b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:409398773491:ios:d63eabe2f5916186d91986</string>
</dict>
</plist>